.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: calc(100% - 74px);
}

.textbox {
  display: flex;
  align-items: center;
  gap: 8px;
}

.icon {
  min-width: 24px;
}

.text {
  font-size: 16px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.button {
  padding: 4px;
  font-size: 16px;
  font-weight: 600;
  height: 28px;
  border: none;
  border-radius: 4px;
  transition: box-shadow 250ms ease-in-out;
  background-color: #efefef;
  transition: background-color 250ms ease-in-out;
}

.button:hover {
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.295);
  background-color: #dddddd;
}
